@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
.main-container {
  max-width: 450px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(246, 246, 246);
}
.logo {
  max-width: 450px;
  text-align: center;
}
.logo img {
  width: 70%;
}
.form {
  margin-top: -180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.form input {
  width: 200px;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.form p {
  color: grey;
}
.form button {
  margin-top: 20px;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.container-page {
  max-width: 450px;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(246, 246, 246);
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.logo-page {
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-page img {
  width: 130px;
  padding-left: 2rem;
}
.logout svg {
  padding-top: 8px;
  padding-right: 2rem;
}
.bg-motif {
  max-width: 450px;
  height: 200px;
  background-image: url("./assets/motif.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-header {
  max-width: 450px;
  height: 60px;
  background-image: url("./assets/motif.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-customer {
  width: 85%;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-top: 20px;
}
.name {
  font-weight: 800;
  margin-top: 10px;
}
.status-poit p {
  color: grey;
  margin-bottom: 15px;
}
.nominal {
  font-weight: 700;
  color: black;
}
p.total-point {
  color: rgb(52, 222, 52);
  font-weight: 600;
}

.barcode {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.left {
  width: 40%;
  height: 100%;
  display: flex;
}
.right {
  width: 60%;
  padding-right: 20px;
}
hr {
  margin-left: 30px;
  border: 2px dotted rgb(198, 198, 198);
  border-radius: 5px;
}
.saldo,
.point {
  width: 100;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.img-code {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.barcode img {
  width: 60%;
}
.box-slider {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-slider img {
  position: relative;
  right: -450px;
  width: 450px;
  transition: transform 0.5s ease;
}
.box-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 40px;
  padding: 0 30px;
  box-sizing: border-box;
}
.box-view p {
  display: flex;
  align-items: center;
  height: 40px;
  color: green;
}
.box-view svg {
  color: grey;
}
.box-navigate {
  background-color: white;
  padding-top: 10px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}
.Navigate-Link {
  text-decoration: none;
  color: grey;
}
.logo-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.logo-page {
  cursor: pointer;
}
.logo-icon img {
  width: 25px;
}
.barcode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cross {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding-top: 40px;
  margin-bottom: 50px;
}

.bg-header {
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.menu-title {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  background-color: white;
}

.menu-title::-webkit-scrollbar {
  width: 0;
}

.menu-title ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  height: 200px;
  margin-bottom: 20px;
}

.menu-title ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 800;
  color: #333;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-title ul li:hover {
  transform: scale(1.1);
}
.menu-item {
  background-color: white;
  padding-bottom: 50px;
  cursor: pointer;
}
.menu-title-item h4 {
  padding: 20px 0 20px 20px;
  background-color: whitesmoke;
}
.menu-item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.image-menu img {
  width: 90px;
}

.menu-item {
  overflow-y: auto;
}

.menu-item::-webkit-scrollbar {
  display: none;
}
